
@font-face {
  font-family: 'rns_miles';
  src: url('/static/fonts/rnsmiles-black-webfont.eot');
  src:
    url('/static/fonts/rnsmiles-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/rnsmiles-black-webfont.woff2') format('woff2'),
    url('/static/fonts/rnsmiles-black-webfont.woff') format('woff'),
    url('/static/fonts/rnsmiles-black-webfont.ttf') format('truetype'),
    url('/static/fonts/rnsmiles-black-webfont.svg#rns_milesblack') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'rns_miles';
  src: url('/static/fonts/rnsmiles-bold-webfont.eot');
  src:
    url('/static/fonts/rnsmiles-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/rnsmiles-bold-webfont.woff2') format('woff2'),
    url('/static/fonts/rnsmiles-bold-webfont.woff') format('woff'),
    url('/static/fonts/rnsmiles-bold-webfont.ttf') format('truetype'),
    url('/static/fonts/rnsmiles-bold-webfont.svg#rns_milesbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rns_miles';
  src: url('/static/fonts/rnsmiles-light-webfont.eot');
  src:
    url('/static/fonts/rnsmiles-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/rnsmiles-light-webfont.woff2') format('woff2'),
    url('/static/fonts/rnsmiles-light-webfont.woff') format('woff'),
    url('/static/fonts/rnsmiles-light-webfont.ttf') format('truetype'),
    url('/static/fonts/rnsmiles-light-webfont.svg#rns_mileslight') format('svg');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'rns_sanz';
  src: url('/static/fonts/rnssanz-medium-webfont.eot');
  src:
    url('/static/fonts/rnssanz-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/rnssanz-medium-webfont.woff2') format('woff2'),
    url('/static/fonts/rnssanz-medium-webfont.woff') format('woff'),
    url('/static/fonts/rnssanz-medium-webfont.ttf') format('truetype'),
    url('/static/fonts/rnssanz-medium-webfont.svg#rns_sanzmedium') format('svg');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'rns_sanz';
  src: url('/static/fonts/rnssanz-normal-webfont.eot');
  src:
    url('/static/fonts/rnssanz-normal-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/rnssanz-normal-webfont.woff2') format('woff2'),
    url('/static/fonts/rnssanz-normal-webfont.woff') format('woff'),
    url('/static/fonts/rnssanz-normal-webfont.ttf') format('truetype'),
    url('/static/fonts/rnssanz-normal-webfont.svg#rns_sanznormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rns_sanz';
  src: url('/static/fonts/rnssanz-semibold-webfont.eot');
  src:
    url('/static/fonts/rnssanz-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/rnssanz-semibold-webfont.woff2') format('woff2'),
    url('/static/fonts/rnssanz-semibold-webfont.woff') format('woff'),
    url('/static/fonts/rnssanz-semibold-webfont.ttf') format('truetype'),
    url('/static/fonts/rnssanz-semibold-webfont.svg#rns_sanzsemibold') format('svg');
  font-weight: bold;
  font-style: normal;
}
