
$accent-1:  #651fff;
$accent-2:  #4de1df;
$accent-3:  #ffdc05;
$black:     #342c37;
$gray:      #8e8d92;
$pink:      #e939c0;
$purple:    #5b1be6;
$white:     #f8f9fb;

$han-purple: #5c1de8;
$navy-purple:  #8147ff;

$gutter: 0;
$container-width: 80%;
$button-height: 52px;
$button-width: 200px;
$section-padding: 64px;
$max-cols-xl : 12;
$max-cont-width: 65em;
