<section id="splash" class="splash">
  <div class="container">
    <div class="splash-head">
      <ul class="social-nav">
      <li>
        <a href="https://www.behance.net/pixelateam">
          <svg class="icon">
            <use xlink:href="#behance"></use>
          </svg>
        </a>
      </li>

        <li><a href="https://www.facebook.com/PixelaGT/"><svg class="icon">
          <use xlink:href="#facebook"></use>
        </svg></a></li>

        <li><a href="https://github.com/PixelaGt"><svg class="icon">
          <use xlink:href="#github"></use>
        </svg></a></li>

        <li><a href="https://twitter.com/PixelaGT"><svg class="icon">
          <use xlink:href="#twitter"></use>
        </svg></a></li>

        <li><a href="https://www.youtube.com/channel/UCW_gER01QU4yXHTmdLHxhMA" target="_blank"><svg class="icon">
          <use xlink:href="#youtube"></use>
        </svg></a></li>
      </ul>

      <a href="#">¿Ya merito?</a>
    </div>

    <div class="content">
      <img class="pixela-logo" src="@/assets/img/pixela.svg">

      <span>Lo sentimos, estamos trabajado en nuestra página</span>
      <button class="button">Iniciar Sesión con Spotify</button>

      <p>ó llamanos al <a href="tel:+50277650540" class="tel">7765-0540</a></p>
    </div>
  </div>
  <!-- <no-ssr>
    <Particles/>
  </no-ssr> -->
</section>
