
<section class="jukebox">
  <div class="playback-img" style="background-image: url('http://cdn01.ib.infobae.com/adjuntos/162/imagenes/014/014/0014014674.jpg')">
  </div>
  <div class="playback-overlay">
  </div>
  <div class="jukebox-container">
    <div class="splash-head">
      <img class="jukebox-logo" src="@/assets/img/pixela.svg">

      <ul class="social-nav">
      <li>
        <a href="https://www.behance.net/pixelateam">
          <svg class="icon">
            <use xlink:href="#behance"></use>
          </svg>
        </a>
      </li>

        <li><a href="https://www.facebook.com/PixelaGT/"><svg class="icon">
          <use xlink:href="#facebook"></use>
        </svg></a></li>

        <li><a href="https://github.com/PixelaGt"><svg class="icon">
          <use xlink:href="#github"></use>
        </svg></a></li>

        <li><a href="https://twitter.com/PixelaGT"><svg class="icon">
          <use xlink:href="#twitter"></use>
        </svg></a></li>

        <li><a href="https://www.youtube.com/channel/UCW_gER01QU4yXHTmdLHxhMA" target="_blank"><svg class="icon">
          <use xlink:href="#youtube"></use>
        </svg></a></li>
      </ul>
    </div>

    <div class="player">
      <div class="song">
        <figure class="song-img">
          <img src="http://cdn01.ib.infobae.com/adjuntos/162/imagenes/014/014/0014014674.jpg" alt="">
        </figure>
        <div class="song-detail">
          <h1>Where is my mind?</h1>
          <p>Pixies - 1988</p>
        </div>
      </div>
      <div class="next-song">
        <figure class="next-song-img">
          <img src="http://cdn01.ib.infobae.com/adjuntos/162/imagenes/014/014/0014014674.jpg" alt="">
        </figure>
        <h4>Tick Tick Boom</h4>
      </div>
    </div>
    <div class="player-msg">
      <p>Aqui va mi comentario no tan extremadamente largo que no deberia pasarse de 150 caracteres.</p>
      <div class="profile">
        <figure class="profile-img">
          <img src="http://cdn01.ib.infobae.com/adjuntos/162/imagenes/014/014/0014014674.jpg" alt="">
        </figure>
        <div class="profile-detail">
          <h5>Estuardo Díaz</h5>
          <p>Hace 1 hora</p>
        </div>
      </div>
    </div>

    <div class="song-bar">
      <div class="play-icon">

      </div>
      <div class="bar-container">
        <p>1:12</p>
        <div class="bar">
          <div class="progress">
          </div>
        </div>
        <p>3:56</p>
      </div>
    </div>

  </div>
  <!-- <no-ssr>
    <Particles/>
  </no-ssr> -->
</section>
