@import '../home/splash.scss';


.playback {
  //
}

.jukebox {
  min-height: calc(100vh - 40px);
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}

.playback-img {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.playback-overlay {
  background: radial-gradient(ellipse at 50% 100%, rgba(#8147ff, 0.8), rgba(#5c1de8, 0.8));
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.jukebox-logo {
  height: 32px;
  width: auto;
}

.player {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64vh;
}

.song-img {
  margin: 0;
  position: relative;
  border-radius: 20px;
  height: 260px;
  width: 260px;
  min-width: 260px;
  overflow: hidden;
  margin-right: 52px;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
}

.song {
  display: flex;
  align-items: center;

  h1 {
    font-size: 72px;
    line-height: 86px;
    color: #fff;
    margin: 0;
  }

  p {
    font-size: 32px;
    line-height: 38px;
    color: rgba(#fff, 0.8);
    margin: 0;
  }
}

.jukebox-container {
  width: 90%;
  margin: 0 auto;
}

.next-song {
  height: 180px;
  min-width: 180px;
  width: 180px;
  border-radius: 20px;
  border: #fff 5px solid;
  box-shadow: rgba(#000, 0.27) 0 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h4 {
    color: #fff;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.next-song-img {
  margin: 0;
  height: 96px;
  min-width: 96px;
  width: 96px;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
}

.player-msg {
  height: 152px;
  width: 729px;
  margin: 0 auto;
  background: linear-gradient(80deg, #8147FF, #ED5DCB);
  box-shadow: rgba(#000, 0.27) 0 5px 20px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 24px 68px;

  p {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
  }
}

.profile {
  display: flex;
  align-items: center;
}

.profile-img {
  height: 32px;
  width: 32px;
  min-width: 32px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
  margin-right: 8px;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
}

.profile-detail {
  h5 {
    font-size: 10px;
    color: #fff;
    line-height: 12px;
    margin: 0;
  }

  p {
    font-size: 8px;
    line-height: 10px;
    color: #fff;
    margin: 0;
  }
}

.bar-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.bar {
  margin-left: 20px;
  margin-right: 20px;
  width: 85%;
  height: 8px;
  border-radius: 20px;
  background-color: rgba(#fff, 0.16);
}

.progress {
  height: 8px;
  border-radius: 20px;
  background-color: rgba(#fff, 0.8);
  width: 50%;
}

.play-icon {
  height: 56px;
  width: 56px;
  min-width: 56px;
  border-radius: 50%;
  border: #fff 4px solid;
  margin-right: 64px;
}

.song-bar {
  display: flex;
}
