
<section class="jukebox">
  <div class="playback-img" :style="{ backgroundImage: `url('${artistImage.url}')` }">
  </div>
  <div class="playback-overlay">
  </div>
  <div class="jukebox-container">
    <div class="splash-head">
      <img class="jukebox-logo" src="@/assets/img/pixela.svg">

      <ul class="social-nav">
        <li>
          <a href="https://www.behance.net/pixelateam">
            <svg class="icon">
              <use xlink:href="#behance"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/PixelaGT/">
            <svg class="icon">
              <use xlink:href="#facebook"></use>
            </svg>
          </a>
        </li>
        <li><a href="https://github.com/PixelaGt"><svg class="icon">
          <use xlink:href="#github"></use>
        </svg></a></li>

        <li><a href="https://twitter.com/PixelaGT"><svg class="icon">
          <use xlink:href="#twitter"></use>
        </svg></a></li>

        <li><a href="https://www.youtube.com/channel/UCW_gER01QU4yXHTmdLHxhMA" target="_blank"><svg class="icon">
          <use xlink:href="#youtube"></use>
        </svg></a></li>
      </ul>
    </div>

    <div class="player">
      <div class="song" v-if="currentSong">
        <figure class="song-img">
          <img :src="currentSong.album.images[0].url" :alt="currentSong.name">
        </figure>
        <div class="song-detail">
          <h1>{{currentSong.name}}</h1>
          <p>{{artists}} - {{currentSong.album.release_date}}</p>
        </div>
      </div>
      <div class="next-song" v-if="nextSong">
        <figure class="next-song-img">
          <img :src="nextSong.album.images[0].url" :alt="nextSong.name">
        </figure>
        <h4>{{nextSong.name}}</h4>
      </div>
    </div>
    <Messages/>
    <div class="song-bar">
      <div class="play-icon" @click="toggle()">
        <svg class="icon">
          <use xlink:href="#play" v-if="!playing"></use>
          <use xlink:href="#pause" v-if="playing"></use>
        </svg>
      </div>
      <div class="bar-container">
        <p>{{position | time}}</p>
        <div class="bar">
          <div class="progress" :style="{width: `${ellapsedTime}%`}">
          </div>
        </div>
        <p>{{duration | time}}</p>
      </div>
    </div>
  </div>
</section>
